{% extends 'base.html.twig' %}

{% block title %}Purchase index{% endblock %}

{% block body %}
    <h1>Purchase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Stock_in</th>
                <th>Stock_left</th>
                <th>Unit_cost</th>
                <th>Total_cost</th>
                <th>Create_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.id }}</td>
                <td>{{ purchase.stockIn }}</td>
                <td>{{ purchase.stockLeft }}</td>
                <td>{{ purchase.unitCost }}</td>
                <td>{{ purchase.totalCost }}</td>
                <td>{{ purchase.createAt ? purchase.createAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('admin_purchase_show', {'id': purchase.id}) }}">show</a>
                    <a href="{{ path('admin_purchase_edit', {'id': purchase.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_purchase_new') }}">Create new</a>
{% endblock %}
