{% extends 'admin.master.html.twig' %}

{% block title %}Products List!{% endblock %}
{% block stylesheets %}
    {% include 'admin.styles.html.twig' %}
{% endblock %}
{% block topnav %}
    {% include 'admin.nav.html.twig' %}
{% endblock %}    
{% block content %}
    {% include 'admin.success.html.twig' %}

    <h3>Purchase List</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Stock In</th>
                <th>Stock Left</th>
                <th>Unit Cost</th>
                <th>Total Cost</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.id }}</td>
                <td>{{ purchase.product.title }}</td>
                <td>{{ purchase.stockIn }}</td>
                <td>{{ purchase.stockLeft }}</td>
                <td>&#163; {{ purchase.unitCost }}</td>
                <td>&#163; {{ purchase.totalCost }}</td>
                <td>{{ purchase.createAt ? purchase.createAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a  class="btn btn-primary" href="{{ path('admin_purchase_show', {'id': purchase.id}) }}">View</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_purchase_new') }}">Create new</a>

{% endblock %}

{% block footer %}
    {% include 'admin.footer.html.twig' %}
{% endblock %} 
