{% extends 'admin.master.html.twig' %}

{% block title %}Product!{% endblock %}
{% block stylesheets %}
    {% include 'admin.styles.html.twig' %}
{% endblock %}
{% block topnav %}
    {% include 'admin.nav.html.twig' %}
{% endblock %}    
{% block content %}

    <h3>Purchase</h3>

    <table class="table  table-borderless">
        <tbody>
            <tr>
                <th>Id</th>
                <td><strong>:</strong> {{ purchase.id }}</td>
            </tr>
            <tr>
                <th>Stock In</th>
                <td><strong>:</strong> {{ purchase.stockIn }}</td>
            </tr>
            <tr>
                <th>Stock Left</th>
                <td><strong>:</strong> {{ purchase.stockLeft }}</td>
            </tr>
            <tr>
                <th>Unit Cost</th>
                <td><strong>:</strong> &#163;  {{ purchase.unitCost }}</td>
            </tr>
            <tr>
                <th>Total Cost</th>
                <td><strong>:</strong> &#163;  {{ purchase.totalCost }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>: {{ purchase.createAt ? purchase.createAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('admin/purchase/_delete_form.html.twig') }}
{% endblock %}

{% block footer %}
    {% include 'admin.footer.html.twig' %}
{% endblock %} 
